<div>
    <h2 class="main-title padding">How can we Go Green</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding">
            <input type="text" class="form-control" [(ngModel)]="soil" placeholder="Enter The Soil Name"/>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding">
            <input type="text" class="form-control" [(ngModel)]="plant" placeholder="Enter The Soil Name"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center mg-top-15">
            <button class="btn btn-lg" (click)="search()">Search</button>
        </div>
    </div>
</div>